[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pep8 = "*"
autopep8 = "*"

[packages]
flask-restful = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-sqlalchemy = "*"
flask = "*"
flask-jwt = "*"

[requires]
python_version = "3.7"
